################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy.AssemblyInfoInputs.cache
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy.assets.cache
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy.designer.deps.json
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy.designer.runtimeconfig.json
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy.GeneratedMSBuildEditorConfig.editorconfig
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy_MarkupCompile.i.cache
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy_MarkupCompile.i.lref
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.AssemblyInfoInputs.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.assets.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.csproj.AssemblyReference.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.designer.deps.json
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.designer.runtimeconfig.json
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.GeneratedMSBuildEditorConfig.editorconfig
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_MarkupCompile.i.cache
/VPet.Plugin.LolisBuddy/obj/project.nuget.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.AssemblyInfo.cs
/VPet.Plugin.LolisBuddy/obj/VPet.Plugin.LolisBuddy.csproj.nuget.dgspec.json
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/Config/winSetting.g.i.cs
/VPet.Plugin.LolisBuddy/obj/Debug/net8.0-windows/VPet.Plugin.LolisBuddy.AssemblyInfo.cs
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/Config/winSetting.g.i.cs
/.vs/VPet.Plugin/FileContentIndex/28e388a0-6141-4067-beef-004ebadf19cb.vsidx
/.vs/LolisBuddy/v17/DocumentLayout.json
/.vs/LolisBuddy/v17/.wsuo
/VPet.Plugin.LolisBuddy/obj/project.assets.json
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_ekzeoll1_wpftmp.assets.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_ekzeoll1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_ekzeoll1_wpftmp.sourcelink.json
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_hwxoujhi_wpftmp.AssemblyInfo.cs
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_hwxoujhi_wpftmp.AssemblyInfoInputs.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_hwxoujhi_wpftmp.assets.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_hwxoujhi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_hwxoujhi_wpftmp.sourcelink.json
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_MarkupCompile.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_MarkupCompile.i.lref
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_MarkupCompile.lref
/VPet.Plugin.LolisBuddy/obj/VPet.Plugin.LolisBuddy.csproj.nuget.g.props
/VPet.Plugin.LolisBuddy/obj/VPet.Plugin.LolisBuddy.csproj.nuget.g.targets
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/ref
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/ref/VPet.Plugin.LolisBuddy.dll
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/refint
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/refint/VPet.Plugin.LolisBuddy.dll
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.csproj.CoreCompileInputs.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.csproj.FileListAbsolute.txt
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.dll
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.g.resources
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.pdb
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy.sourcelink.json
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_ekzeoll1_wpftmp.AssemblyInfo.cs
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/VPet.Plugin.LolisBuddy_ekzeoll1_wpftmp.AssemblyInfoInputs.cache
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/Config
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/Config/winSetting.baml
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows/Config/winSetting.g.cs
/VPet.Plugin.LolisBuddy/bin/Release/net8.0-windows
/VPet.Plugin.LolisBuddy/bin/Release/net8.0-windows/VPet.Plugin.LolisBuddy.deps.json
/VPet.Plugin.LolisBuddy/bin/Release/net8.0-windows/VPet.Plugin.LolisBuddy.dll
/VPet.Plugin.LolisBuddy/bin/Release/net8.0-windows/VPet.Plugin.LolisBuddy.pdb
/.vs/VPet.Plugin/v17
/.vs/VPet.Plugin/FileContentIndex
/.vs/VPet.Plugin/DesignTimeBuild
/VPet.Plugin.LolisBuddy/obj/Release/net8.0-windows
/VPet.Plugin.LolisBuddy/obj
